<a href="https://colab.research.google.com/github/norayehia/Machine-learning-secuirty-data/blob/main/finalaics_(1).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:


from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
pip install category_encoders

Collecting category_encoders
  Downloading category_encoders-2.3.0-py2.py3-none-any.whl (82 kB)
     |████████████████████████████████| 82 kB 388 kB/s
Requirement already satisfied: statsmodels>=0.9.0 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (0.10.2)
Requirement already satisfied: scikit-learn>=0.20.0 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (0.22.2.post1)
Requirement already satisfied: patsy>=0.5.1 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (0.5.2)
Requirement already satisfied: scipy>=1.0.0 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (1.4.1)
Requirement already satisfied: pandas>=0.21.1 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (1.1.5)
Requirement already satisfied: numpy>=1.14.0 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (1.19.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.21.1->category_encoders) (2.8.2)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.21.1->category_encoders) (2018.9)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from patsy>=0.5.1->category_encoders) (1.15.0)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.20.0->category_encoders) (1.1.0)
Installing collected packages: category-encoders
Successfully installed category-encoders-2.3.0

In [ ]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
from sklearn.metrics import accuracy_score, classification_report
import pandas as pd
import numpy as np
from sklearn import datasets
from sklearn.model_selection import train_test_split
from sklearn import metrics
from sklearn.ensemble import RandomForestClassifier
from sklearn import preprocessing
import pandas as pd
# importing required libraries
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import category_encoders as ce
import seaborn as sns
import matplotlib.pyplot as plt
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import re
import matplotlib.pyplot as plt
import seaborn as sns
from scipy.stats import chi2_contingency
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import GridSearchCV
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
from sklearn.svm import SVC
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report

/usr/local/lib/python3.7/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/aics/assinmen1/traindata.csv') 
df.head()

   ID  duration protocol_type  ... dst_host_srv_rerror_rate level  Class
0   0         0           tcp  ...                     0.01    21      0
1   1         0           tcp  ...                     0.01    21      0
2   2         0           tcp  ...                     0.00    11      1
3   3         0           tcp  ...                     0.02    21      0
4   4         0           tcp  ...                     1.00    11      0

[5 rows x 44 columns]

https://stackoverflow.com/questions/24458645/label-encoding-across-multiple-columns-in-scikit-learn

In [ ]:
class MultiColumnLabelEncoder:
    def __init__(self,columns = None):
        self.columns = columns # array of column names to encode

    def fit(self,X,y=None):
        return self # not relevant here

    def transform(self,X):
        '''
        Transforms columns of X specified in self.columns using
        LabelEncoder(). If no columns specified, transforms all
        columns in X.
        '''
        output = X.copy()
        if self.columns is not None:
            for col in self.columns:
                output[col] = LabelEncoder().fit_transform(output[col])
        else:
            for colname,col in output.iteritems():
                output[colname] = LabelEncoder().fit_transform(col)
        return output

    def fit_transform(self,X,y=None):
        return self.fit(X,y).transform(X)

In [ ]:

# encode categorical variables with ordinal encoding
#encoder = ce.OrdinalEncoder(cols=['ID', 'duration', 'protocol_type', 'service', 'flag', 'src_bytes'])
#X= encoder.fit_transform(X)
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import LabelEncoder


"""
from sklearn import preprocessing
le = preprocessing.LabelEncoder()
le.fit_transform(df)
"""

df.apply(LabelEncoder().fit_transform)
#or
encoding_pipeline = Pipeline([
    ('encoding',MultiColumnLabelEncoder(columns=[ 'ID', 'duration', 'protocol_type', 'service', 'flag', 'src_bytes']))
    # add more pipeline steps as needed
])
encoding_pipeline.fit_transform(df)
#or
from sklearn.preprocessing import OneHotEncoder

OneHotEncoder(handle_unknown='ignore').fit_transform(df)


#housing = pd.read_csv("/content/sample_data/california_housing_train.csv")
#scaler = preprocessing.MinMaxScaler()
#names =X.columns
#d = scaler.fit_transform(X)
#X = pd.DataFrame(d, columns=names)
#X.head()

In [ ]:
df=df.apply(LabelEncoder().fit_transform)

In [ ]:
df

          ID  duration  protocol_type  ...  dst_host_srv_rerror_rate  level  Class
0          0         0              1  ...                         1     21      0
1          1         0              1  ...                         1     21      0
2          2         0              1  ...                         0     11      1
3          3         0              1  ...                         2     21      0
4          4         0              1  ...                        99     11      0
...      ...       ...            ...  ...                       ...    ...    ...
22997  22997         0              1  ...                        86     21      0
22998  22998         0              1  ...                         0     19      1
22999  22999         0              1  ...                         0     21      1
23000  23000         0              2  ...                         0     17      0
23001  23001         0              1  ...                         0     20      0

[23002 rows x 44 columns]

In [ ]:
X = df.drop(['Class'], axis=1)
y = df['Class']

In [ ]:
def correlation(dataset, threshold):
    col_corr = set()  # Set of all the names of correlated columns
    corr_matrix = dataset.corr()
    for i in range(len(corr_matrix.columns)):
        for j in range(i):
            if abs(corr_matrix.iloc[i, j]) > threshold: # we are interested in absolute coeff value
                colname = corr_matrix.columns[i]  # getting the name of column
                col_corr.add(colname)
    return col_corr

In [ ]:
corr_features = correlation(X, 0.7)
len(set(corr_features))

13

In [ ]:
X=X.drop(corr_features,axis=1)

In [ ]:
X.shape

(23002, 30)

In [ ]:
x_train, x_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [ ]:
rfc=RandomForestClassifier(random_state=42)

In [ ]:
param_grid = { 
    'n_estimators': [200, 500],
    'max_features': ['auto', 'sqrt', 'log2'],
    'max_depth' : [4,5,6,7,8],
    'criterion' :['gini', 'entropy']
}

In [ ]:
CV_rfc = GridSearchCV(estimator=rfc, param_grid=param_grid, cv= 5)
CV_rfc.fit(x_train, y_train)

In [ ]:
CV_rfc.best_params_

In [ ]:
rfc1=RandomForestClassifier(random_state=42, max_features='auto', n_estimators= 500, max_depth=9, criterion='gini')

In [ ]:
#rfc1.fit(x_train, y_train)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=9, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=500,
                       n_jobs=None, oob_score=False, random_state=42, verbose=0,
                       warm_start=False)

In [ ]:
predran=rfc1.predict(x_test)

In [ ]:
confusion_matrix(y_test, predran)

array([[3603,    6],
       [   6, 3286]])

In [ ]:
from sklearn.metrics import classification_report
print(classification_report(y_test, predran))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00      3609
           1       1.00      1.00      1.00      3292

    accuracy                           1.00      6901
   macro avg       1.00      1.00      1.00      6901
weighted avg       1.00      1.00      1.00      6901

the same but on all

In [ ]:
rfc2=RandomForestClassifier(random_state=42, max_features='auto', n_estimators= 500, max_depth=9, criterion='gini')

In [ ]:
rfc2.fit(X, y)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=9, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=500,
                       n_jobs=None, oob_score=False, random_state=42, verbose=0,
                       warm_start=False)

In [ ]:
X.shape

(23002, 30)

In [ ]:
X_test1 = pd.read_csv('/content/testdata.csv')

In [ ]:
#scaler = preprocessing.MinMaxScaler()
#names =X_test1.columns
##X_test1 = encoder.transform(X_test1)

X_test1=X_test1.apply(LabelEncoder().fit_transform)
#d = scaler.fit_transform(X_test1)
X_test1=X_test1.drop(corr_features,axis=1)
#X_test1 = pd.DataFrame(d, columns=names)
X_test1.head()

   ID  duration  ...  dst_host_srv_diff_host_rate  level
0   0         4  ...                            0     16
1   1         0  ...                            0     21
2   2         0  ...                            0     17
3   3         0  ...                            6     21
4   4         0  ...                            0     18

[5 rows x 30 columns]

In [ ]:
X_test1.shape

(22501, 30)

In [ ]:
op_rf=rfc1.predict(X_test1)
import numpy as np
import pandas as pd
pd.DataFrame(op_rf, columns=['Class']).to_csv('op_rf.csv')

In [ ]:
op_rf2=rfc2.predict(X_test1)
import numpy as np
import pandas as pd
pd.DataFrame(op_rf2, columns=['Class']).to_csv('op_rf2.csv')

/////////////////////////////////////////////////////////////